#these need to be installed locally for the app to run locally
django>=5.0
whitenoise[brotli]>=6,<7
django-allauth[socialaccount]
gunicorn>=22,<23
djangorestframework
channels>=4.1.0
daphne>=4.1.2
psycopg2


#These are only nesacary fir the server:
dj-database-url>=2,<3
requests
psycopg[c]; sys_platform == "linux"
psycopg[binary]; sys_platform != "linux"