@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

*{
    scrollbar-width: none;
}

body {
    height: 100vh;
    margin: 0;
    font: 600 18px 'Source Sans Pro', sans-serif;
    letter-spacing: 0.64px;
    color: #585d74;
}


    /*form p {
        text-align: center;
        color: #ffffff;
        margin: 10px 0 60px 0;
        font-size: 1.75em;
    }*/

    

.topnav {
    width: 100vw;
    background-color: #375BDC;
    color: #ffffff;
    
}

    .topnav a:link, .topnav a:visited {
        text-decoration: none;
        color: #ffffff;
    }

    .topnav a:hover, .topnav a:active {
        text-decoration: underline;
    }

    #first {
        padding-left: 10px;
    }

/*span {
    font-size: smaller;
}*/

.mycard {
    background-color: #f1f1f1;
    background-image: linear-gradient(to bottom, #375BDC, #4D70EF);
    background-size: 100% 120px;
    background-repeat: no-repeat;
    margin: 40px auto;
    height: 70%;
    width: 80%;
    border-radius: 5px;
    box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
    padding: 20px;
}

    .mycard h1 {
        text-align: center;
        color: #ffffff;
        margin: 20px 0 60px 0;
    }

    .mycard ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    }

    .mycard li {
    background-color: #ffffff;
    background-image: linear-gradient(to right, #375BDC, #4D70EF);
    background-size: 50px 60px;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: transform .25s;
    border-radius: 5px;
    box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
    padding: 15px;
    padding-left: 70px;
    margin-top: 5px;
    text-align: center;
    }

    li:hover {
        transform: scale(1.1);
    }

a:link, a:visited {
    color: #375BDC;
}

.main, .main h1 {
    text-align: center;
    color: #375BDC;
}


.mycard2 {
    background-color: #f1f1f1;
    background-image: linear-gradient(to bottom, #375BDC, #4D70EF);
    background-size: 100% 120px;
    background-repeat: no-repeat;
    margin: 40px auto;
    height: 70%;
    width: 80%;
    border-radius: 5px;
    box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
    padding: 20px;
}

    .mycard2 h1 {
        text-align: center;
        color: #ffffff;
        margin: 20px 0 60px 0;
    }

    .mycard2 h2 {
        text-align: center;
        margin: 20px 0 60px 0;
        color: #375BDC;
    }

    .mycard2 body {
        text-align: center;
    }

    .mycard2 ul{
        border-radius: 5px;
    }

    .mycard2 li {
        font-size: 2em;
        color: #375BDC;
        text-align: center;
        cursor: pointer;
        transition: transform .25s;
        border-radius: 5px;
        padding: 15px;
        margin-top: 5px;
    }

    #login {
        display: inline-flex;
        align-content: stretch;
        color: #375BDC;
        text-align: center;
        cursor: pointer;
        transform:none;
        transition:none;
        border-radius: 5px;
        padding: 15px;
        margin-top: 5px;
        justify-content: flex-start;
        align-items: center;
    }

.mycard2 input {
    width: 100%;
    height: 80%;
    font-size: 0.75em;
}

    

    .mycard2 ul {
        display: flex;
        justify-content: space-evenly;
        align-items: stretch;
        flex-direction: column;
        background-color: white;
        height: 70%;
        width: 70%;
        list-style-type: none;
        padding: 0;
        margin: auto;
    }

.regCard {
    background-color: #f1f1f1;
    background-image: linear-gradient(to bottom, #375BDC, #4D70EF);
    background-size: 100% 120px;
    background-repeat: no-repeat;
    width: 80vw;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
    margin: 40px auto;
}

    
    .regCard label{
        padding: 25px 0px 0px 0px;

    }
    .regCard h1 {
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 2.5em;
        text-align: left;
        color: #ffffff;
        
    }

    .regCard form{
        padding-left: 40px;
        padding-right: 40px;
        display:flex;
        flex-direction: column;
    }

    .regCard button{
        margin: 20px 0px 20px 0px;
        width: 60%;
        align-self: center;
    }

    .regCard li {
        transition: none;
        transform: none;
    }


    .helptext li{
        transition: none;
        transform: none;
    }

    .helptext li::marker{
        color: black;
    }

    .errorlist {
        color: crimson;
    }

/*Quiz Screen CSS*/
.big {
    margin-top: 20px;
}

.playerColumn{
    position:sticky;
    display: flex;
    align-items:  center;
    justify-content: center;
    flex-direction: column;
}

    .playerColumn ul {
        margin: 0px;
        text-shadow: 2px 2px 2px grey;
    }

.chosen {
    color: lawngreen;
    text-shadow: 2px 2px 2px black;
}

.chatColumn {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quizCard {
    background-color: #f1f1f1;
    background-image: linear-gradient(to bottom, #dc37be, #4D70EF); /*change colour for type of quiz*/
    background-size: 100% 140px;
    background-repeat: no-repeat;
    height: 90vh;
    width: 60%;
    border-radius: 5px;
    box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
    padding: 5px 20px;
}

    .quizCard h1 {
        font-size: 1.75em;
        text-align: center;
        color: #ffffff;
        margin: 10px 0 60px 0;
    }

    .quizCard h2 {
        text-align: center;
        margin: 0px;
        color: white;
    }

    .quizCard body {
        text-align: center;
    }

    .quizCard ul {
        background-color: white;
        list-style-type: none;
        padding: 0;
        margin: 0;
        border-radius: 5px;
    }
    /* Define different background colors based on the quiz category */
.quizCard.art {
    background-image: linear-gradient(to bottom, #FF7E7E, #4D70EF);
}

.quizCard.science {
    background-image: linear-gradient(to bottom, #A1FF7E, #4D70EF);
}

.quizCard.history {
    background-image: linear-gradient(to bottom, #FFE27E, #4D70EF);
}

.quizCard.sport {
    background-image: linear-gradient(to bottom, #FFCE7E, #4D70EF);
}

.quizCard.geography {
    background-image: linear-gradient(to bottom, #7EBEFF, #4D70EF);
}

.quizCard.entertainment {
    background-image: linear-gradient(to bottom, #FF7EE7, #4D70EF);
}

.toggled {
    background-color: cornflowerblue;
    color: white;
}

#correct {
    background-color: #00ef26;
}

.q li {
    background-image: linear-gradient(to right, #375BDC, cornflowerblue);
    background-size: 50px 60px;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: transform .25s;
    border-radius: 5px;
    box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
    padding: 15px;
    padding-left: 70px;
    margin-top: 5px;
    text-align: center;
}


    
    .q li:hover {
        transform: scale(1.1);
    }

.big{
    display: flex;
    width: 100vw;
    justify-content: space-between;
}

.playerColumn{
    width: 20%;

}

.chatColumn{
    width: 20%;
}