{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'myglobal.css' %}">
    
    <title>{% block title %}{% endblock %}</title>
{% comment %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
{% endcomment %}
</head>
<body>

    <div class="topnav">

        <a id="first" href="/">HOME</a> |
        <a href="/register/">REGISTER</a> |
        <a href="/login/">LOG-IN</a> |
        <a href="/qSelect/">QUIZ SELECT</a> |


    </div>

    {% block content %}
    {% endblock %}

</body>
</html>