{% extends "master.html" %}

{% block title %}
  Screen for Leaderboard
{% endblock %}


{% block content %}
<div class="leaderboardcard"> <!--this html page uses the leaderboard class in global.css-->
    <h1>Leaderboard</h1>
    
    <!--a table is used to display the leaderboard-->
     <table>
        <tr>
            <th>Rank</th>
            <th>Player</th>
            <th>Score</th>
        </tr>
        {% for entry in leaderboard %}
        <tr>
            <td>{{ forloop.counter }}</td> <!--this is a counter for the rank of the user. -->
            <td>{{ entry.username}}</td>  <!--'USER' is a foreign key to a All Auth User model -->
            <td>{{ entry.highest_score }}</td><!--highest score of the user-->
        </tr>
        {% endfor %}
    </table>

</div>
{% endblock %}