{% extends "master.html" %}

{% block title %}
  Screen to select a Quiz
{% endblock %}


{% block content %}
<div class="big">

    <div class="playerColumn">

        <ul>
            <li>Player1: ___</li>
            <li>Player2: ___</li>
            <li>Player3: ___</li>
            <li>Player4: ___</li>

        </ul>

    </div>

    <div class="quizCard">
        <h2>Q1 / 10</h2>
        <h1>Question Text</h1>

        <ul class="q">
            <li>Answer A</li>
            <li>Answer B</li>
            <li>Answer C</li>
            <li>Answer D</li>

        </ul>

    </div>

    <div class="chatColumn">

        <p>CHAT GOES HERE</p>

    </div>

</div>



{% endblock %}