{% extends "master.html" %}

{% block title %}
  Screen to select a Quiz
{% endblock %}


{% block content %}
<div class="mycard">
    <h1>Select a Quiz!</h1>
    
    <!-- in future it would look something like this
    <ul>
        {% for x in quizList %}
        <li onclick="window.location = //locationofplay">{{ x.category }}</li>
        {% endfor %}
    </ul>

     but for now...:   -->

<ul>
    <li onclick="window.location = '../available_sessions/Art/'">ART QUIZ</li>
    <li onclick="window.location = '../available_sessions/Sport/'">SPORT QUIZ</li>
    <li onclick="window.location = '../available_sessions/History/'">HISTORY QUIZ</li>
    <li onclick="window.location = '../available_sessions/Science/'">SCIENCE Quiz</li>

    <!--<li onclick="window.location = '../quiz/Art/'">Art Quiz</li>
    <li onclick="window.location = '../quiz/Sport/'">Sport Quiz</li>
    <li onclick="window.location = '../quiz/Geography/'">Geography Quiz</li>
    <li onclick="window.location = '../quiz/History/'">History Quiz</li>

    <li onclick="window.location = ''">Company Quiz</li>
    <li onclick="window.location = ''">General Knowledge Quiz</li>
    <li onclick="window.location = ''">Science Quiz</li>-->


</ul>
</div>
{% endblock %}