{% load static %}

<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{% static 'myglobal.css' %}">
<body>
    
        {% for x in fruits %}
        <h1>{{ x }}</h1>
        {% endfor %}

        <p>In views.py you can see what the fruits variable looks like.</p>
    
    <!-- <h1>Hello {{firstname}}, how are you?</h1> -->
    {%comment%}
    <ul>
        {% for x in
        myUsers %
        }

        <li> {{ x.firstname }} </li>
        {% endfor %}

    </ul>



    <table border='1'>
        <tr>
            <th>ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
        </tr>
        {% for x in myUsers %}
        <tr>
            <td>{{ x.id }}</td>
            <td>{{ x.firstname }}</td>
            <td>{{ x.lastname }}</td>
        </tr>
        {% endfor %}
    </table>

    {%endcomment%}
</body>
</html>